body{
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    margin: 2% 0 2% 0;
}

/* checkbox label */
.form-check-label{
    width: 100%;
}

/* checkbox row contenant label et input */
.rowcheckbox{
    margin: 0;
    padding: 1% 0 1% 0;
}

.rowcheckbox:hover{
    background-color: lightgreen;
}

/* checkbox boutton input */
.form-check-input{
    height: 30px;
    width: 30px;
}

/* checkbox form container */
#carte{
    padding: 0;
}
